section#page-footer {
    position: relative;
    display: block;
    padding-top: 80px;
    padding-bottom: 16px;
    background-color: #2D3B38;
    color: #fff;
}
section#page-footer h5{
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-menu {
    position: relative;
    list-style: none;
    padding-left: 0;
}
.footer-link {
    padding: 0; 
}
.footer-menu a, .footer-link {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: all .2s ease;
}
.footer-menu a:hover, .footer-link:hover {
    text-decoration: none;
    color: #fff;
}

p#copyright a {
    color: #07be94;
    text-decoration: none;
    background-color: transparent;
}
p#copyright a:hover{
    color: #03a882;
    text-decoration: underline !important;
}

@media only screen and (min-width: 320px) and (max-width: 375px){
    ul.footer-menu {
        text-align: center;
    }
    section#page-footer h5 {
        text-align: center; 
    }
    h4.media.mt-2 {
        text-align: center;
        margin: 15px;
    }
    p.footer.mt-2 {
        text-align: center;
    }
    .lastfooter {
        text-align: center;
    }
    a.footer-link.active {
        text-align: center;
        margin-left: 27%;
    }
    
    .lastfooter a {
        display: flex;
    }
    section#social_icon { 
        margin-left: 50px;
    }
}
 
@media only screen and (min-width: 375px) and (max-width: 425px){
    ul.footer-menu {
        text-align: center;
    }
    section#page-footer h5 {
        text-align: center; 
    }
    h4.media.mt-2 {
        text-align: center;
        margin: 15px;
    }
    p.footer.mt-2 {
        text-align: center;
    }
    .lastfooter {
        text-align: center;
    }
    a.footer-link.active {
        text-align: center;
        margin-left: 27%;
    }
    
    .lastfooter a {
        display: flex;
    }
    section#social_icon { 
        margin-left: 70px;
    }
}
 
@media only screen and (min-width: 425px) and (max-width: 768px) {
    ul.footer-menu {
        text-align: center;
    }
    section#page-footer h5 {
        text-align: center; 
    }
    h4.media.mt-2 {
        text-align: center;
        margin: 15px;
    }
    p.footer.mt-2 {
        text-align: center;
    }
    .lastfooter {
        text-align: center;
    }
    a.footer-link.active {
        text-align: center;
        margin-left: 27%;
    }
    
    .lastfooter a {
        display: flex;
    }
    section#social_icon { 
        margin-left: 70px;
    }
}
 
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
}
 
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {

}